.inputform {
    justify-content: center;
    display: flex;
    height: 40px;
    gap: 15px;
}

.input {
    width: 350px;
    font-size: inherit;
    border-radius: 40px;
}

.button {
    font-size: inherit;
    background-color: #172CAF;
    border: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 40px;
}

.btn:hover {
    background-color: #707ED7;
}
